@using System.Security.Claims

@model IEnumerable<Product>




@if (Model == null || !Model.Any())
{
	<h2 class="spacing-div">No results found.</h2>
}
else
{
	<div class="row g-4">

		<h2 class="title spacing-div">Search Results</h2>

		<div class="row g-4">
			@foreach (var product in Model)
			{
				<div class="col-lg-3 col-md-3 col-sm-4 d-flex justify-content-center">
					<div class="image-container position-relative" style="width: 100%;">
						<a asp-action="Details" asp-route-id="@product.Id" style="display: block;">
							@if (product.ProductImages != null && product.ProductImages.Count() > 0)
							{
								<img src="@product.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top  rounded overflow-hidden" style="height: 250px; width: 100%; object-fit: cover;" />
							}
							else
							{
								<img src="http://placehold.co/500x600/png" class="card-img-top  rounded overflow-hidden" style="height: 250px; width: 100%; object-fit: cover;" />
							}
						</a>

						<div class="card-body text-center mt-0 regular-details">
							<div class="overplay-title">
								<h5 class="card-title text-dark opacity-75 text-uppercase truncate">@product.Title</h5>
							</div>

							<p class="card-subtitle mb-1 text-warning">By <b>@product.Author</b></p>
							<div class="card-text">
								<p class="text-muted text-decoration-line-through">List Price: @product.ListPrice.ToString("c")</p>
								<p class="text-dark h5">Price: @product.Price100.ToString("c")</p>
							</div>

						</div>


						<div class="overlay">
							<div class="text w-100">
								<a asp-action="Details" asp-route-id="@product.Id" class="text-dark text-uppercase h5 d-block" style="text-decoration: none;">@product.Title</a>
								<p class="card-subtitle author mb-2  text-warning">By <b>@product.Author</b></p>

								@* <p class="text-muted">List Price: @product.ListPrice.ToString("c")</p> *@
								<p class="text-danger h5">Price: @product.Price100.ToString("c")</p>
								<form asp-controller="Home" asp-action="AddToCart" asp-controller="Cart" method="post">
									<input type="hidden" name="userId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
									<input type="hidden" name="productId" value="@product.Id" />
									<form asp-action="AddToCart" method="post">
										<input type="hidden" name="ProductId" value="@product.Id" />
										<input type="hidden" name="count" value="1" />
										<button type="submit" class="slim-button btn btn-outline-primary mt-4 bg-gradient  w-50 py-2 text-uppercase fw-semibold  rounded-3">
											Add to Cart
										</button>
									</form>

								</form>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
}
